*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
}
.child {
  display: inline-block;
  height: 100px;
  width: 200px;
  background-color: lightblue;
  margin: 5px;
  background-color: antiquewhite;
}
.display {
  display: inline-block;
  height: 100px;
  width: 200px;
  background-color: lightblue;
  margin: 5px;
}
