*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{
    text-decoration: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    color: #ffffff;
    padding: 15px 30px;
}

.nav-links{
    display: flex;
    list-style: none;
}

.nav-links li{
    margin-left: 25px;
    cursor: pointer;
}