
#image{
     color:black;
    width: 350px;
    height: 320px;
    padding: 15px;
    margin: 30px;
    border: 2px color( blue);
    background-color: aquamarine;
    text-align: center;
}
  

  
  
  

