.nav {
    position: sticky;
    top: 20px  ;
    background-color: #333;
    padding: 15px;
}

.nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-family: Arial;
}

 .section {
    height: 500px;
    padding: 20px;
}
