*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:#5a5a5a;
    padding: 10PX 10PX;
}

a{
    text-decoration: none;
}

.part1>a{
    
    display: flex;
    color: white;
    gap: 20px;
    margin: 20px;
    justify-content: flex-start;
    
    
}
.part{
    color: white;
    text-align: center;
    justify-content: center;
}
